body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 800px;
}

a {
  color: #00B7FF;
}

.highlight-unknown {
  background: #fff23dc5;
}

.highlight-present {
  background: rgb(150, 231, 150);
}