body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fffff6;
}

#content {
    max-width: 800px;
    background: white;
    border: 1px solid;
    padding: 0 1em;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

a {
  color: #00B7FF;
}

.highlight-unknown {
  background: #fff23dc5;
}

.highlight-present {
  background: rgb(150, 231, 150);
}