extends layout

block content
    h1=title
    p 1. Upload Name List
    input(type='file' id='attendance-file')
    p 2. List updates every 2 seconds 
    p 
        button(id='attendance-button' disabled) Force Update
        span &nbsp;
        a(id='download-button' disabled) Download CSV
    div(id='attendance-table')

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

