extends layout

block content
    h1 A Simple Attendance App
    p 
        a(href=`/install`) Add to Zoom
    p Simply upload a text file containing the names of participants. The file should contain 1 name per line (FirstName LastName).
    p The attendance list updates every 2 seconds.
    p You can export a CSV of the attendance by copying the "CSV Data" section and pasting it into a web browser.
    img(src='/img/app-screenshot.png' style="max-width=600px")
    p 
        a(href=`/install`) Add to Zoom

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

